body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 14px;
}


.tables_filters {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.filters {
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 10px;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    min-width: 300px
}

.filters label {
    margin-bottom: 5px;
}

.filters input, .filters select, .filters button {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.tables_own {
    width: 32%;
    border-collapse: collapse;
    font-size: 1em;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.tables_own thead tr {
    background-color: #333;
    color: white;
    text-align: left;
    font-weight: bold;
}

.tables_own th, .tables_own td {
    padding: 3px 3px;
}

.tables_own tbody tr {
    border-bottom: 1px solid #444;
}

.tables_own tbody tr:nth-of-type(even) {
    background-color: #222;
}

.tables_own tbody tr:last-of-type {
    border-bottom: 2px solid #333;
}

.tables_own tbody tr:hover {
    background-color: #444;
    cursor: pointer;
}

.name_country {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flag {
    width: 24px;
    height: 24px;
}


.footer a {
    color: white !important;
}

.footer a:hover {
    color: lightgray !important;
}

.countries {

    & input {
        width: auto;
    }
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .tables_filters {
        flex-direction: column;
    }

    .filters {
        width: max-content;

    }

}
